
/* backgroundImage: "url(./assets/darkBg.jpj)"
 */

 * {
  font-family: 'Inter', sans-serif;
 }

 .bg-image {
   background-image: url(./assets/firstScreen.png);
   background-repeat: no-repeat;
   background-size: 100vw 100vh;
   background-size: fill;
   width: 100vw;
   height: 100vh;
   position: fixed;
   z-index: -1;
 }

